// Bandera
@font-face {
  font-family: 'Bandera';
  src: url('../fonts/BanderaPro.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'Bandera';
  src: url('../fonts/BanderaProThin.otf');
  font-weight: 100;
}
@font-face {
  font-family: 'Bandera';
  src: url('../fonts/BanderaProLight.otf');
  font-weight: 200;
}
@font-face {
  font-family: 'Bandera';
  src: url('../fonts/BanderaPro-Bold.otf');
  font-weight: 600;
}
@font-face {
  font-family: 'Bandera';
  src: url('../fonts/BanderaProHeavy.otf');
  font-weight: 900;
}
// Italic
@font-face {
  font-family: 'Bandera';
  src: url('../fonts/BanderaPro-Italic.otf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Bandera';
  src: url('../fonts/BanderaProThin-Italic.otf');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Bandera';
  src: url('../fonts/BanderaProLight-Italic.otf');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Bandera';
  src: url('../fonts/BanderaPro-BoldItalic.otf');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Bandera';
  src: url('../fonts/BanderaProHeavy-Italic.otf');
  font-weight: 900;
  font-style: italic;
}

// PFDinDisplay
@font-face {
  font-family: 'Din';
  src: url('../fonts/PFDinDisplayPro-Regular.ttf');
  font-weight: normal;
}
// Bold
@font-face {
  font-family: 'Din';
  src: url('../fonts/PFDinDisplayPro-Black.ttf');
  font-weight: bold;
}